@font-face {
    font-family: "Furore";
    src: url("/assets/fonts/Furore.otf") format("opentype");
}

*{
    color: black;
    font-family: "Furore";
    font-size: 12pt;
}

html{
    padding: 0;
    background-color: white;
    height: 100%;
    width:100%;
    min-height: 100%;
}

body{
    width:100%;
    min-height: 100%;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#root{
    width: 100%;
    flex: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* div{
    border: solid 1px black;
} */

a{
    color:red;
}

button{
    width: 100%;
}

.table_form td{
    /*text-align: right;*/
    max-width:100%;
}

#div_mainarea{
    flex: 1;
    min-height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#div_mainblock{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#div_main{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#div_header{
    background-color: lightgrey;
    height: 169px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid 1px black;
    background-position: center;
    background-image: url("/assets/images/milos_eyes.png");
    background-repeat: no-repeat;

}

#div_contents{
    /* background-color: darkseagreen; */
    margin: 0 auto;
    width:100%;
    flex: 1;
    display: flex;
    /* align-items: flex-start; */
    /* align-items: center; */
    align-items: stretch;
}

#div_contents_leftarea{
    /* background-color: lightblue; */
    flex:1;
    min-height: 500px;
    margin-left:30px;
    background-position: center;
    background-image: url("/assets/images/left.gif");
    background-repeat: no-repeat;
}

#div_contents_centralarea {
    flex:1;
    min-width: 400px;
    max-width: 1000px;
    min-height: 500px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

#div_contents_mainarea{
    background-color: #F8F8F8;
    width: 100%;
    /*min-height: 100%;*/
    border: solid 1px black;
    padding: 20px;
    margin: 0 auto;

}

#div_contents_rightarea{
    flex:1;
    /* background-color: lightblue; */
    background-position: center;
    margin-right:30px;
    background-image: url("/assets/images/right.gif");
    background-repeat: no-repeat;
}

#div_bottom_gap{
    background-color: lightgrey;
    border: solid 1px black;
    height: 169px;
    margin-top: 30px;
    margin-bottom: 30px; 
    background-position: center;
    background-image: url("/assets/images/milos_jaw.png");
    background-repeat: no-repeat;
}

#div_bottom{
    flex:1 0 auto;
    display: flex;
    flex-direction: column;
}

#div_footer_gap{
    flex: 1 0 auto;
}

/* footer +*/
#div_footer{
    display: flex;
    width: 100%;
    align-items: stretch;

}

#div_footer_leftpart{
    flex: 1;
    padding: 20px;
    text-align:left;
}

#div_footer_rightpart{
    flex: 1;
    padding: 20px;
    text-align:right;
}
/* footer -*/

#div_logo {
    border-width: 0px;
    margin-bottom: 10px;
    background-color: #CCCCCC;
    text-align: center;
    font-size: 40pt;
    font-style: italic;
}

#div_contents_mainarea_resultmaxweight{
    margin-top: 20px;
    background-color:limegreen;
    padding:20px;
    text-align: center;
    font-size: 20pt;
}

#form_calc_weight{
    background-color: orange;
}

#table_form_calc_weight{
    padding: 5px;
    min-width: 100%;
}

#table_form_calc_weight input{
    width: 100%;
    text-align: center;
}

#button_calc_maxweight{
    padding: 15px;
}

#span_maxweight_value{
    font-size:36pt;
    color:brown;
}

#div_additional_info{
    background-color: lightgreen;
    padding: 10px;
}

#resultleaguesrank_header{
    margin-top: 20px;
    background-color: #FF6B6B;
    padding:20px;
    text-align: center;
    font-size: 20pt;
}

#resultleaguesrank_contents{
    background-color: #FFB3B3;
    padding: 10px;
}

.div_additional_info_weightpercents_item{
    /* border: solid 1px black; */
    /* padding-left: 50px; */
    
    text-align: center;
    padding: 5px;
}

#div_reward{
    margin-top: 20px;
    background-color: orange;
}

#div_reward hr {
    margin: 0 100px;
}

#div_reward_rank {
    padding: 15px;
    text-align: center;
}

#div_reward_icon {
    padding: 15px;
}

#div_reward_icon img{
    margin: 0 auto;
    display: block;
}

#div_reward_description {
    padding: 10px;
    padding-left:50px;
    padding-right:50px;
}
